@charset "UTF-8";
/*
    --  configurações root;
*/
html, body {
  margin: 0px auto;
  padding: 0px auto;
  font-family: 'roboto', arial;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

p {
  margin: 0px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 90px;
}

header {
  width: 100%;
}

footer {
  width: 100%;
  bottom: 0px;
  position: absolute;
}

/*
    --  configurações do container, inclusive
    a responsividade de acordo com o tamanho do
    dispositivo;
*/
.container {
  margin: 0px auto;
  margin-bottom: 15px;
  word-wrap: break-word;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.conteiner-flex, .sub-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
  }
  .conteiner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .navbar-list-menu {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .conteiner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .navbar-list-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .navbar-list-menu {
    display: block;
  }
  .conteiner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .btn-menu-active {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .conteiner-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

/*
    --  configuração padrao do divisor <hr>;
*/
.hr-default {
  width: 100%;
  height: 1px;
  background: #D0D7DE;
}

/*
    --  Esta classe serve para dar espaço antes
    da primeira linha do texto. Usado por padrão
    40px;
*/
.indent {
  text-indent: 20px;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

/*
    --  Esta classe é aplicada nas tags de texto,
    serve para ser usanda no rodapé da página <footer>,
    usando esta classe o texto herdará caracteristicas
    como um margin-top de 15px e uma cor cinza.
*/
.developer-credits {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 100;
  color: #808791;
}

/*
    --  Esta classe é aplicada nas tags de button,
    ao aplicar, certifique-se que dentro da classe,
    possua a tag <a>, para ser aplicado na tag <a>
    também.
*/
.btn-primary-border {
  border: none;
  background: transparent;
  margin-right: 5px;
  padding: 10px 0px;
  border-radius: 5px;
  border: 0.8px solid #96cbff;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary-border:hover {
  background: #96cbff;
  color: #FFFFFF;
}

.btn-primary-border a {
  font-size: 14pt;
  padding: 13px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-primary-border a:hover {
  background: #96cbff;
  color: #FFFFFF;
}

.btn-primary-border i {
  font-size: 14pt;
}

.btn-menu-active {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-menu-active i {
  font-size: 20pt;
}

.btn-elipses {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-elipses:hover {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.btn-primary {
  width: 100%;
  padding: 10px 10px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 12pt;
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #2b2c2c;
}

/*
    --  Estas classes serve para aplicar margin-right
    em qualquer tipo de elemento.
*/
.mr-5 {
  margin-right: 5px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-1 {
  margin-right: 1px;
}

/*
    --  Estas classes serve para aplicar margin-top
    em qualquer tipo de elemento.
*/
.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-10 {
  margin-top: 10px;
}

/*
    -- Esta classe tem o objetivo em deixa um espaçamento
    entre os elemento. obs: esta classe só funcionará apenas
    se estiver usando a classe .container-flex.
*/
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */